@import 'variables.scss';
// src/sass/main.scss
@import '../node_modules/vuetify/src/styles/styles';


.btn {
  padding: $padding $padding*2;
  background: $green-bg;
  color: $text-button-color;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
}
